/QUICK_START.md
/.vs/DicomMate/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/DicomMate/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/.vs/DicomMate/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/.vs/DicomMate/CopilotIndices/17.12.38.29086/SemanticSymbols.db
/.vs/DicomMate/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/DicomMate/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/DicomMate/FileContentIndex/ebbee997-0b35-4540-b29b-ed510b04f372.vsidx
/.vs/DicomMate/v17/.suo
/.vs/DicomMate/v17/Browse.VC.db
/.vs/DicomMate/v17/Browse.VC.db-shm
/.vs/DicomMate/v17/Browse.VC.db-wal
/.vs/DicomMate/v17/Browse.VC.opendb
/.vs/DicomMate/v17/DocumentLayout.backup.json
/.vs/DicomMate/v17/DocumentLayout.json
/.vs/DicomMate/v17/Solution.VC.db
/.vs/DicomMate/v17/fileList.bin
/.vs/DicomMate/v17/ipch/346dbd1f9614bc4d.ipch
/DicomMate/x64/Debug/ChildFrm.obj
/DicomMate/x64/Debug/ClassView.obj
/DicomMate/x64/Debug/DicomMate.Build.CppClean.log
/DicomMate/x64/Debug/DicomMate.exe.recipe
/DicomMate/x64/Debug/DicomMate.ilk
/DicomMate/x64/Debug/DicomMate.log
/DicomMate/x64/Debug/DicomMate.obj
/DicomMate/x64/Debug/DicomMate.pch
/DicomMate/x64/Debug/DicomMate.res
/DicomMate/x64/Debug/DicomMate.tlog/CL.command.1.tlog
/DicomMate/x64/Debug/DicomMate.tlog/CL.read.1.tlog
/DicomMate/x64/Debug/DicomMate.tlog/CL.write.1.tlog
/DicomMate/x64/Debug/DicomMate.tlog/Cl.items.tlog
/DicomMate/x64/Debug/DicomMate.tlog/DicomMate.lastbuildstate
/DicomMate/x64/Debug/DicomMate.tlog/link.command.1.tlog
/DicomMate/x64/Debug/DicomMate.tlog/link.read.1.tlog
/DicomMate/x64/Debug/DicomMate.tlog/link.secondary.1.tlog
/DicomMate/x64/Debug/DicomMate.tlog/link.write.1.tlog
/DicomMate/x64/Debug/DicomMate.tlog/rc.command.1.tlog
/DicomMate/x64/Debug/DicomMate.tlog/rc.read.1.tlog
/DicomMate/x64/Debug/DicomMate.tlog/rc.write.1.tlog
/DicomMate/x64/Debug/DicomMate.vcxproj.FileListAbsolute.txt
/DicomMate/x64/Debug/DicomMateDoc.obj
/DicomMate/x64/Debug/DicomMateView.obj
/DicomMate/x64/Debug/FileView.obj
/DicomMate/x64/Debug/MainFrm.obj
/DicomMate/x64/Debug/OutputWnd.obj
/DicomMate/x64/Debug/PropertiesWnd.obj
/DicomMate/x64/Debug/ViewTree.obj
/DicomMate/x64/Debug/pch.obj
/DicomMate/x64/Debug/vc143.idb
/DicomMate/x64/Debug/vc143.pdb
/DicomMate/x64/Debug/vcpkg.applocal.log
/MICRODICOM_INTERFACE_IMPLEMENTATION.md
/x64/Debug/DicomMate.exe
/x64/Debug/DicomMate.pdb
